@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pulse {
  animation: pulse-scale 1.5s ease-in-out infinite;
}
